parameters:
  excludes_analyse: [../test/fixtures]
  level: max
  paths: [../lib, ../test]
  ignoreErrors:
    - '/Method yii\\i18n\\FileMessageSource::loadMessagesFromFile\(\) should return/'
    - '/on an unknown class Yii/'
